<div class="p-10 flex flex-col h-full">
    @let book = book$ | async;

    <div class="flex-none h-40 rounded-t-3xl" [style]="{'background-color': book?.backgroundColor}">
        <div class="text-white inline-block align-baseline h-full ml-5">
            <h1 class="text-2xl font-bold mt-25">{{ book?.title }}</h1>
            <h2 class="text-l font-medium">{{ book?.author }} - {{ book?.pages }} Pages</h2>
        </div>
    </div>

    <div class=" flex-1 flex flex-col justify-even bg-surface-100 text-base p-5 rounded-b-3xl">
        @for(section of book?.info; track section) {
        <div>
            <span class="leading-10 font-semibold"> {{ section.title }} </span>
            <p class="align-top flex-1"> {{ section.body }} </p>
        </div>
        }
    </div>
</div>