<div class="w-full min-w-0 block">
    <p-card class="book-gallery-panel w-full">
        <ng-template #header>
            <div class="block w-full h-30 background-random" [style]="{'background-color': book.backgroundColor}">
            </div>
        </ng-template>
        <ng-template #title>
            <div class="flex flex-row justify-even gap-3">
                <div class="flex-1 flex items-center justify-start">
                    {{ book.title }}
                </div>

                <p-button icon="pi pi-pencil" [rounded]="true" [outlined]="true" class="flex-none" [routerLink]="'/book-page/' + book.id + '/edit'">
                </p-button>

                <p-button icon="pi pi-trash" [rounded]="true" [outlined]="false" class="flex-none" severity="danger" (onClick)="deleteBook()">
                </p-button>
            </div>
        </ng-template>
        <ng-template #subtitle>
            {{ book.author }} - {{ book.pages }} Pages
        </ng-template>
        <div class="flex flex-col gap-3 items-stretch">
            <p>
               {{ book.info?.at(0)?.body?.substring(0, 150) }}
            </p>

            <p-button label="Read More ->" class="flex-1" [fluid]="true" severity="secondary" [routerLink]="'/book-page/' + book.id + '/view'">
            </p-button>
        </div>
    </p-card>
</div>