<div>
    <form [formGroup]="formGroup" class="flex flex-col gap-5 mt-2 p-5" (ngSubmit)="editStory()">
        <div class="flex-none h-10 rounded-t-3xl" [style]="{'background-color': backgroundColor.value}"></div>

        <div class="flex gap-5">
            <p-floatLabel variant="on" class="flex-1">
                <label for="on_label">Title: </label>
                <input pInputText type="text" formControlName='title' [fluid]="true">
            </p-floatLabel>

            <p-floatLabel variant="on" class="flex-1">
                <label for="on_label">Author: </label>
                <input pInputText type="text" formControlName='author' [fluid]="true">
            </p-floatLabel>

            <app-discrete-color-picker [formControl]="backgroundColor"></app-discrete-color-picker>
        </div>

        <div formArrayName="text" class="flex flex-col gap-5">
            <div class="flex">
                <span class="flex-1 text-2xl font-bold">Adding the Text</span>
                <p-button class="flex-1" label="Add a Section" type="button" (click)="addSection()"></p-button>
            </div>

            @for (textBlock of text.controls; track textBlock) {
            <p-card>
                <div [formGroupName]="$index" class="flex flex-col gap-5">
                    <div class="flex gap-5">
                        <p-floatLabel variant="on" class="flex-1">
                            <label for="on_label">Title: </label>
                            <input pInputText type="text" formControlName='title' [fluid]="true">
                        </p-floatLabel>

                        <p-button label="Remove the Section" type="button" (click)="removeSection($index)"></p-button>
                    </div>

                    <p-floatLabel variant="on" class="">
                        <label for="on_label">Body: </label>
                        <textarea pTextarea fluid rows="2" type="text" formControlName='body' [autoResize]="true">
                    </textarea>
                    </p-floatLabel>
                </div>
            </p-card>
            }
        </div>

        <div class="flex gap-5">
            <p-button class="flex-1" label="Done" (click)="editStory()" [fluid]="true"></p-button>
            <p-button class="flex-1" label="Cancel" (click)="cancel()" [fluid]="true"></p-button>
        </div>
    </form>
</div>